





h3{
    border: 10px solid red;
    background-color: aquamarine;
    padding: 50px;
    height: 40px;
    width: 40px;
    /* margin: 20px; */
   font-size: 15px;
        
}
p{
    border: 10px solid red;
    padding: 50px;
    height: 80px;
    width: 500px;
    margin-: 20px 10px 10px 10px;
    background-color: royalblue;
    /* display: inline; */
    /* grid-area: 50000px; */
    user-select: none;
    i{
        gap: 20px;
    }
    
    
/* } style{
    display: inline; */
}